# Assignment 5

##### 1. Write a Python program to print numbers from 1 to 10 using a for loop.

In [2]:
for i in range(11):
    print(i,end = " ")

0 1 2 3 4 5 6 7 8 9 10

##### 2. Explain the difference between a for loop and a while loop in Python.

Loop -- it is a used as for variable in iterable  , if the function will iterate according to the conditon
        loop  is executed each items of the iterable 
        
while loop
            In while loop the items has unknown iteration  until the condition will be True 
            after the condition false loop become break

##### 3. Write a Python program to calculate the sum of all numbers from 1 to 100 using a for loop.

In [2]:
sum = 0
for i in range(101):
    sum = sum + i
print(sum)

5050

##### 4. How do you iterate through a list using a for loop in Python?

In [4]:
l1 = [23,46,99,241,"string","iterate ","the","list"]
for i in l1:
    print(i)

23
46
99
241
string
iterate
the
list

##### 5. Write a Python program to find the product of all elements in a list using a for loop.

In [91]:
my_list = [4,3,0.3,7.2,2,1.23,2.1,-2.2,8,-1,-2.3]
product = 1
for num in my_list:
    product = product*num
print(product)

-5420.3821056

##### 6. Create a Python program that prints all even numbers from 1 to 20 using a for loop.

In [16]:
for num in range(21):
    if num%2 == 0:
        print(num)

0
2
4
6
8
10
12
14
16
18
20

##### 7. Write a Python program that calculates the factorial of a number using a for loop.

In [54]:
def factorial(fa):
    while fa>0:
        if fa<=1:
            return 1
        else:
            return fa*factorial(fa-1)
factorial(6)

720

##### 8. How can you iterate through the characters of a string using a for loop in Python?

In [67]:
my_string = str(input("Enter the input : "))
for outcome in my_string:
    if outcome == " ":
        del(outcome)
    else:
        print(outcome,end = ", ")

Enter the input : Lucknow is the city of nawab
L, u, c, k, n, o, w, i, s, t, h, e, c, i, t, y, o, f, n, a, w, a, b,

##### 9. Write a Python program to find the largest number in a list using a for loop.

In [85]:
my_list = [3,5,6,7,33,86,8,4,39,3,]
def largest_num(l):
    if l[0]==len(my_list):
        return l
    else:
        for items in l:
            return max(l)
largest_num(my_list)

86

In [99]:
my_list = [3,5,6,7,33,86,8,4,39,3,]
def largest_number(num):
    largest = num[0]
    
    for i in num:
        if i>largest:
            largest = i
    return largest
largest_number(my_list)

86

##### 10. Create a Python program that prints the Fibonacci sequence up to a specified limit using a for loop.

In [154]:
user = int(input("Enter the number : "))
a = 0 # n - 2
b = 1 # n - 1
for i in range(0,user):
    if i== 0:
        print(i)
    elif i == 1:
        print(i)
    else:
        if i>1:
            t = a+b
            print(t)
        a,b = b,t

Enter the number : 10
0
1
1
2
3
5
8
13
21
34

##### 11. Write a Python program to count the number of vowels in a given string using a for loop.

In [159]:
my_string = input("Enter the input : ").lower()
count = 0
for items in my_string:
    if items in ["a",'e','o','i','u']:
        count = count+1
print(count)

Enter the input : mankind people are good
9

##### 12. Create a Python program that generates a multiplication table for a given number using a for
loop.

In [9]:
table = int(input("Enter the table : "))
for i in range(1,11):
    m  = i*table
    print(table,"X",i ,"=",m)

Enter the table : 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

##### 13. Write a Python program to reverse a list using a for loop.

In [11]:
my_string = input("Enter the input : ").split()
x = []
for i in range(1,len(my_string)):
    x.append(my_string[len(my_string)-i])
print(x)

Enter the input : the lucknow is the city of nawab
['nawab', 'of', 'city', 'the', 'is', 'lucknow']

In [12]:
u = []
for i in range(len(my_string)-1,-1,-1):
    u.append(my_string[i])
print(u)

['nawab', 'of', 'city', 'the', 'is', 'lucknow', 'the']

##### 14. Write a Python program to find the common elements between two lists using a for loop

In [280]:
list1 = [3,35,"luckknow","kanpur","lucknow",6,7,8,4,"stysns","kanpur",9,3,35,"deli"]
list2  = ["lucknow",64,3,2,"kanpur",7,8,3,8,"deli","raman","lucknow",3,6,6,6,"lucknow", 'kanpur',35,'krushna']
list2_0= []
for i in list1: 
        if i in list2:
            list2_0.append(i)
print(set(list2_0))

{35, 3, 6, 7, 8, 'deli', 'kanpur', 'lucknow'}

##### 15. Explain how to use a for loop to iterate through the keys and values of a dictionary in Python.

In [380]:
d = {"aryan":"a","prince":"p","india":"i","flag":"f","gods":"g","kanpur":"k"}
for i in d:
    print(i,end = ", ")
print("\n\n")
for i in d:
    print(d[i] ,end = ",")

aryan, prince, india, flag, gods, kanpur,


a,p,i,f,g,k,

##### 16. Write a Python program to find the GCD (Greatest Common Divisor) of two numbers using a for
loop.

In [14]:
import math
print(math.gcd(64,48))

16

In [393]:
# by using eculid method 
def gcd(a,b):
    if b == 0:
        return a
    else:
        return gcd(b,a%b)
num1= int(input("Enter the number : "))
num2 = int(input("Enterh the number "))
gcd(num1,num2)

Enter the number : 64
Enterh the number 48

16

##### 17. Create a Python program that checks if a string is a palindrome using a for loop.

In [22]:
def check_palin(s):
    palindrone = ""
    for i in range(len(s)-1,-1,-1):
        palindrone +=s[i]
    return s == palindrone   # if this condition satisfied then print it is a palindrone
string = input("Enter the input : ")
if check_palin(string):
    print(string,"it is a palindrome")
else:
    print(string,"it is nnot a palindrome")

Enter the input : malayalam
malayalam it is a palindrome

##### 18. Write a Python program to remove duplicates from a list using a for loop.

In [46]:
my_list = [2,4,5,6,8,6,3,2,12,67,5,4,45,76]
new_list = []
for i in my_list:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[2, 4, 5, 6, 8, 3, 12, 67, 45, 76]

##### 19. Create a Python program that counts the number of words in a sentence using a for loop.

In [55]:
my_sent= input("Enter the input : ")
count = 0
for element in my_sent:
    if element.isalpha() == True:
        count += 1
print(count)

Enter the input : the car number of 3453 and the mobil no 12344
27

##### 20. Write a Python program to find the sum of all odd numbers from 1 to 50 using a for loop.

In [3]:
sum = 0
for i in range(51):
    if i%2!=0:
        sum = sum+i
print(sum)

625

##### 21. Write a Python program that checks if a given year is a leap year using a for loop#####

In [18]:
def check_leap(y):
    y == False
    if y%4== 0:
        y = True
        if y%100 == 0:
            y = False
        if y %400 == 0:
            y == True
    return y==True
s = int(input("Enter the year : "))
if check_leap(s):
    print(s,"it is a leap year")
else: 
    print(s,"it is not a leap year ")

Enter the year : 2023
2023 it is a leap year

##### 22. Create a Python program that calculates the square root of a number using a for loop.

In [25]:
sqr = int(input("Enter the number : "))
root = sqr**(0.5)
print("the square root is ", root)

Enter the number : 7
the square root is  2.6457513110645907

In [27]:
import math
math.sqrt(sqr)

2.6457513110645907

##### 23. Write a Python program to find the LCM (Least Common Multiple) of two numbers using a for
loop.

In [36]:
def find_lcm(x,y):
    if x>y:
        higher = x
    else:
        higher = y
    value = higher
    while True:
        if higher%x==0 and higher%y==0:
            return higher,"is the LCM of"
            break
        else:
            higher = higher+value
n1 = int(input("Enter the number : "))
n2 = int(input("Enter the number : "))
find_lcm(n1,n2)

Enter the number : 12
Enter the number : 8942

(53652, 'is the LCM of')

# if else

##### 1. Write a Python program to check if a number is positive, negative, or zero using an if-else
statement.

In [40]:
my_num = int(input("Enter the number : "))
if my_num <0:
    print("the number is negtive")
elif my_num==0:
    print("the number is zero")
else:
    print("the number is postive")

Enter the number : 8
the number is postive

##### 2. Create a Python program that checks if a given number is even or odd using an if-else statement.

In [52]:
take_num = int(input("Enter the number : "))
if take_num ==0:
    print(take_num,"the number is neither be even nor be odd")
elif take_num%2==0:
    print(take_num,"the number is even ")
else:
    print(take_num,"the number is odd ")

Enter the number : 0
0 the number is neither be even nor be odd

##### 3. How can you use nested if-else statements in Python, and provide an example?

In [54]:
# if and else nested statement use when the condition statement have another 
# conditional statement then we use the nested if-else statments \
# lets us example 

school = "creative"
stu_name = "aryan"
stu_class = "fourth"
day = "wednesday"
if school == "creative":
    print("right information")
    if stu_name == "aryan":
        print("right information ")
        if stu_class == "fourth":
            print("right information")
            if day == "saturday":
                print("ok fine")
            else:
                print("day is not correct.")
        else:
            print("stud_class is not correct ")
    else:
        print("stu_name is not correct match ")
else:
    print("something went wrong!")

right information
right information
right information
day is not correct.

##### 4. Write a Python program to determine the largest of three numbers using if-else.

In [56]:
num1 = int(input("Enter the num first : "))
num2 = int(input("Enter the num second : "))
num3 = int(input("Enter the num third : "))
if num1<num2 and num2>num3:
    print(num2,"is the largest number .")
elif num3>num2 and num3>num1:
    print(num3,"is the largest number : ")
elif num1>num3 and num1>num2:
    print(num1,"is the largest number ")
else:
    print("the all numbers are equals = ",num1)

Enter the num first : 3
Enter the num second : 4
Enter the num third : 6
6 is the largest number :

# map

##### 1. Explain the purpose of the `map()` function in Python and provide an example of how it can be
used to apply a function to each element of an iterable.

The purpose of the map() function in Python is to apply a specific function to each item in an iterable (such as a list or tuple) and return an iterator of the results. It is used when we want to transform each element of an iterable by applying a particular operation or function to them, without using a loop.

In [58]:
my_map = [3,4,4,74,3,2,6]
mapping = list(map(lambda i:i**2,my_map))
print(mapping)

[9, 16, 16, 5476, 9, 4, 36]

##### 2. Write a Python program that uses the `map()` function to square each element of a list of
numbers.

In [68]:
my_list = [2,5,7,84,3,4,90,87]
list(map(lambda x:x*x,my_list))

[4, 25, 49, 7056, 9, 16, 8100, 7569]

##### 3. How does the `map()` function differ from a list comprehension in Python, and when would you
choose one over the other?

 The map() function and list comprehension in Python both allow us to apply a transformation to each element of an iterable and collect the results. However, they differ in syntax and some functional aspects.

Here are some differences between map() and list comprehension in Python:

Syntax:

map() takes two arguments, a function and an iterable, and returns a map object. It requires passing a function explicitly.
List comprehension has a more concise syntax and doesn't require explicitly passing a function. It uses square brackets [] to denote the comprehension.
Return Type:

map() returns a map object, which is an iterator. To get the result as a list, we need to convert it using the list() function.
List comprehension directly returns a new list.
Functionality:

map() always requires a function as the first argument. It applies the given function to each element of the iterable and returns an iterator of the results.
List comprehension can include conditional statements, allowing filtering elements from the iterable based on certain conditions.

##### 4. Create a Python program that uses the `map()` function to convert a list of names to uppercase.

In [71]:
l = ["aryan","arman","sumit","ram","jupyter"]
list(map(lambda a:a.upper(),l))

['ARYAN', 'ARMAN', 'SUMIT', 'RAM', 'JUPYTER']

##### 5. Write a Python program that uses the `map()` function to calculate the length of each word in a
list of strings

In [76]:
l = ["aryan","arvind","sumit","ram","jupyter"]
list(map(lambda t:len(t),l))

[5, 6, 5, 3, 7]

##### 6. How can you use the `map()` function to apply a custom function to elements of multiple lists
simultaneously in Python?

In [6]:
def custom_function(a,b,c):
    return a+b+c
lis_1 = [29,94,8]
lis_2 = [3.5,64,4]
lis_3 = [46,8,94]

list(map(custom_function,lis_1,lis_2,lis_3))

[78.5, 166, 106]

##### 7. Create a Python program that uses `map()` to convert a list of temperatures from Celsius to
Fahrenheit.

In [80]:
# f = 1.8*+32
temp_in_celcius = [13.5,15,45,34,-2,-7,18]
a = list(map(lambda temp:temp*1.8+32,temp_in_celcius))
print("temperature in Fahrenheit  = ",list(zip(temp_in_celcius,a)))

temperature in Fahrenheit  =  [(13.5, 56.3), (15, 59.0), (45, 113.0), (34, 93.2), (-2, 28.4), (-7, 19.4), (18, 64.4)]

##### 8. Write a Python program that uses the `map()` function to round each element of a list of
floating-point numbers to the nearest integer.

In [250]:
num = [23.53,64.23,2.7,68.4,67.0,12.99]# num>1
new_num = list(map(lambda i:int(i)+1 if i%int(i)>0.5 else int(i),num))
new_num

[24, 64, 3, 68, 67, 13]

In [4]:
number = [23.53,-64.23,9.56,3.33,0.7,68.4,67.0,-12.99,0.4,0.001,-100.3]

def test_2(n):
    if 0<n<1:
        if n+1>=1.5:
            return 1
        elif 1<n+1<1.5:
            return 0    
    elif n%(-int(n))> -(0.5):
        return int(n)-1
    elif n%int(n)>0.5:
        return int(n)+1
    
    else:
        return int(n)
n = list(map(test_2,number))
print("the round of value is ",list(zip(number,n)))

the round of value is  [(23.53, 24), (-64.23, -65), (9.56, 10), (3.33, 3), (0.7, 1), (68.4, 68), (67.0, 66), (-12.99, -13), (0.4, 0), (0.001, 0), (-100.3, -101)]

In [246]:
a = -45.5
a

-45.5

In [247]:
int(a)

-45

### reduce

##### 1. What is the `reduce()` function in Python, and what module should you import to use it? Provide
an example of its basic usage.

In [14]:
from functools import reduce
# functools module should  be used to reduce the given situation
lis = [3,53,2,5,4]
# add the items of the list
reduce(lambda a,y:a+y,lis)

67

##### 2. Write a Python program that uses the `reduce()` function to find the product of all elements in a
list

In [17]:
from functools import reduce # write only one time is sufficient 
lis = [3,53,2,5,4]
reduce(lambda a,b : a*b,lis)

6360

##### 3. Create a Python program that uses `reduce()` to find the maximum element in a list of numbers.

In [20]:
lis = [3,53,2,5,4,58,49,7,34,2,3,9]
reduce(lambda p,q:p if p>q else q,lis)

58

###### to print the second max element in the list

In [32]:
lis = [3,53,2,5,4,58,49,7,34,2,3,9]
lis.sort()
lis[(len(lis)-2)]

53